img {
    width: 100%;
    display: block;
}
video {
    width: 100%;
}

button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0;
}

a{
    text-decoration: none;
    color: #222;
}

header {
    width: 100%;
    height: 140px;
    padding: 16px 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: #00000070;
    z-index: 5;
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}

header.hidden{
    opacity: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #fff;
}

.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 256px;
    height: 44px;
}

.menu-container{
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.menu-list > a {
    color: white;
}

.main-container {
    width: 100%;
    height: 100%;
}

section{
    padding: 60px 0;
    box-sizing: border-box;
}

.new-products-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}


.new-glow-lip{
    width: 800px;
    height: 1050px;
    background-image: url(../img/글로우\ 플레이\ 텐더토크\ 립밤.jpg);
    position: relative;
    overflow: hidden;
}


.new-icon{
    width: 56px;
    height: 38px;
    background-color: #ffffff80;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
    top: 16px;
}

.glow-text{
    width: 530px;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 16px;
    bottom: 16px;
    z-index: 1;
    color: #222;
}

.glow-text > p {
    color: #444;
}

.glow-text > button {
    font-size: 16px;
    display: flex;
    align-items: end;
    gap: 2px;
    text-decoration-line: underline;
    margin-top: 50px;
}

.button-arrow {
    width: 18px;
    height: 18px;
}

.glow-text-back{
    background-color: #ffffff80;
    width: 650px;
    height: 220px;
    transform: skewX(20deg);
    position: absolute;
    left: -50px;
    bottom: 0;
}

.new-glow-blush{
    width: 800px;
    height: 1050px;
    background-image: url(../img/글로우\ 플레이\ 쿠션\ 블러쉬.jpg);
    position: relative;
    overflow: hidden;
}

.glowing-viral{
    padding: 100px 0;
    box-sizing: border-box;
    
}

.glowing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.glowing-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.review-event-container{
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
}

.review-event{
    width: 1400px;
    height: 451px;
    border-radius: 2px;
    background-image: url(../img/리뷰이벤트.png);
    position: relative;
    box-shadow: 5px 5px 5px #00000045;
    color: #222;
}

.review-event-text {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: absolute;
    top: 92px;
    left: 46px;
}

.review-event-text > button {
    display: flex;
    gap: 2px;
    align-items: end;
    text-decoration: underline;
}

.recommend-lip-blush{
    padding: 60px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommend-title{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.recommend-contents {
    display: flex;
    align-items: center;
    gap: 16px;
}
.arrow {
    width: 50px;
    height: 50px;
}

.recommend-box{
    width: 1400px;
    height: 700px;
    background-image: url(../img/체리핑크.png);
    position: relative;
    box-shadow: 5px 5px 5px #00000045;
}

.recommend-text{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 40px;
    right: 40px;
}

.recommend-text > h3 {
    margin-bottom: 40px;
}

.recommend-text > p {
    margin-bottom: 30px;
}

.bestseller-container{
    margin: 60px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #222;
}

.best-category{
    display: flex;
    gap: 40px;    
}

.best-category > li > button {
    color: #ddd;
}

.best-lip-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bestseller{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.best-img-box{
    width: 441px;
    height: 537px;
    border: 1px solid #222;
    box-shadow: 5px 5px 5px #00000045;
    display: flex;
    align-items: center;
}

.best-img {
    width: 441px;
    height: 441px;
}

.best-title > p {
    margin-top: 8px;
    color: #666;
}

.best-info {
    color: #666;
}

.color-list {
    display: flex;
}

.color-pick{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #666;
}

.color-info {
    color: #666;
}

.buy{
    display: flex;
    align-items: end;
    gap: 2px;
    text-decoration: underline;
    margin-top: 160px;
}

.new-lipstick-container{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.new-lipstick{
    display: flex;
    align-items: end;
    gap: 20px;
}

.plumping-gloss-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #222;
}

.maximal-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #222;
    padding-left: 195px;
}

.plumping-gloss-text > p {
    color: #555;
    line-height: 120%;
}

.add-cart {
    display: flex;
    text-decoration: underline;
    color: #222;
    gap: 2px;
}

.moving-text {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.what-is-new-in-lips {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    white-space: nowrap;
    display: flex;
}

.whatisnew {
    display: inline-block;
    font-size: 200px;
    padding-right: 20px;
    animation: moveText 10s linear infinite;
}

@keyframes moveText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.maximal-lipstick{
    display: flex;
    align-items: end;
    gap: 20px;
    justify-items: end;
    justify-content: space-between;
}

.trend-container{
    width: 100%;
    height: 275px;
    background-image: url(../img/trend배너.png);
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    padding: 16px 0;
}

.trend-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
    position: absolute;
    right: 470px;
}

.look{
    display: flex;
    align-items: end;
    color: #fff;
    position: absolute;
    bottom: 50px;
    right: 540px;
}

#sticky-section {
    position: relative;
    color: #222;
}

.viva-wrapper

.viva-content {
    padding-left: 50%;
}

.viva-content > figure {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    flex-shrink: 0;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    transition: 0.4s;
}

.viva-content > figure.active {
    opacity: 1;
    z-index: 0;
}

.viva-img {
    width: 940px;
    height: 980px;
}

.viva-img > img {
    height: 100%;
    object-fit: cover;
}

.viva-explane {
    padding: 16px;
    box-sizing: border-box;
    height: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.viva-explane-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.viva-explane-title > h2 {
    color: #b10101;
}

.viva-explane-title > p {
    color: #444;
}

.text-button {
    display: flex;
    align-items: center;
    gap: 2px;
    text-decoration: underline;
}

.text-button:hover {
    cursor: pointer;
}

.viva-carousel{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 40px;
    box-sizing: border-box;
}

.button-box {
    display: flex;
    justify-content: end;
    gap: 2px;
}

.viva-slide{
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

.glamlipstick{
    width: 400px;
    height: 660px;
    border: 1px solid #222;
    color: #222;
    flex-shrink: 0;
}

.glamimg {
    width: 400px;
    height: 400px;
}

.glamcontents {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.glamtext{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sub {
    color: #555;
}

.glamcolor-box {
    display: flex;
    gap: 8px;
    align-items: center;
}

.glamcolor {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.equality {
    background-color: #A86E5C;
}

.heart {
    background-color: #9D3836;
}

.planet{
    background-color: #CF9B85;
}

.empowered{
    background-color: #713D3E;
}

footer {
    padding: 16px 0;
    box-sizing: border-box;
    background-color: #111;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 1800px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.footer-line {
    width: 1800px;
    height: 1px;
    background-color: #d9d9d9;
}

.up-infor {
    display: flex;
    gap: 100px;
}

.footer-list {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list-line {
    width: 180px;
    height: 1px;
    background-color: #d9d9d9;
}

.footer-list-contents > a{
    color: #959595;
}

.mac-mark {
    width: 132px;
    height: 132px;
    position: absolute;
    right: 0;
    top: 16px;
}

.sns-container {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 30px;
    margin-top: 150px;
}

.sns-container > a { 
    color: #fff;
}

.under-infor {
    width: 100%;
    display: flex;
    gap: 20px;
}

.infor {
    color: #d9d9d9;
}

.copyright {
    color: #d9d9d9;
    font-size: 12px;
}

.moretag {
    display: flex;
    gap: 8px;
}

.moretag > a {
    color: #fff;
}