img {
    width: 100%;
    display: block;
}
video {
    width: 100%;
}

button {
    border: none;
    background-color: transparent;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: #222;
}

header {
    width: 100%;
    height: 140px;
    padding: 16px 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: #00000070;
    z-index: 5;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #fff;
}

.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 256px;
    height: 44px;
}

.menu-container{
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.menu-list > a {
    color: white;
}

.main-container {
    width: 100%;
    height: 100%;
}

section{
    padding: 60px 0;
    box-sizing: border-box;
}

.new-products-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.new-glow-lip{
    width: 800px;
    height: 1050px;
    background-image: url(../img/글로우\ 플레이\ 텐더토크\ 립밤.jpg);
    position: relative;
    overflow: hidden;
}

.new-icon{
    width: 56px;
    height: 38px;
    background-color: #ffffff80;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
    top: 16px;
}

.glow-text{
    width: 530px;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 16px;
    bottom: 16px;
    z-index: 1;
}

.glow-text > button {
    font-size: 16px;
    display: flex;
    align-items: end;
    gap: 2px;
    text-decoration-line: underline;
    margin-top: 50px;
}

.button-arrow {
    width: 18px;
    height: 18px;
}

.glow-text-back{
    background-color: #ffffff80;
    width: 650px;
    height: 220px;
    transform: skewX(20deg);
    position: absolute;
    left: -50px;
    bottom: 0;
}

.new-glow-blush{
    width: 800px;
    height: 1050px;
    background-image: url(../img/글로우\ 플레이\ 쿠션\ 블러쉬.jpg);
    position: relative;
    overflow: hidden;
}

.glowing-viral{
    padding: 100px 0;
    box-sizing: border-box;
    
}

.glowing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.glowing-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.review-event-container{
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-event{
    width: 1400px;
    height: 451px;
    border-radius: 2px;
    background-image: url(../img/리뷰이벤트.png);
    position: relative;
    box-shadow: 5px 5px 5px #00000045;
}

.review-event-text {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: absolute;
    top: 92px;
    left: 46px;
}

.review-event-text > button {
    display: flex;
    gap: 2px;
    align-items: end;
    text-decoration: underline;
}

.recommend-lip-blush{
    padding: 60px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommend-title{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.recommend-contents {
    display: flex;
    align-items: center;
    gap: 16px;
}
.arrow {
    width: 50px;
    height: 50px;
}

.recommend-box{
    width: 1400px;
    height: 700px;
    background-image: url(../img/체리핑크.png);
    position: relative;
    box-shadow: 5px 5px 5px #00000045;
}

.recommend-text{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 40px;
    right: 40px;
}

.recommend-text > h3 {
    margin-bottom: 40px;
}

.recommend-text > p {
    margin-bottom: 30px;
}

.bestseller-container{
    margin: 60px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #222;
}

.best-category{
    display: flex;
    gap: 40px;    
}

.best-category > li > button {
    color: #ddd;
}

.best-lip-container{
    display: flex;
}

.bestseller{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.best-img-box{
    width: 441px;
    height: 537px;
    border: 1px solid #222;
    box-shadow: 5px 5px 5px #00000045;
    display: flex;
    align-items: center;
}

.best-img {
    width: 441px;
    height: 441px;
}

.best-title > p {
    margin-top: 8px;
    color: #666;
}

.best-info {
    color: #666;
}

.color-list {
    display: flex;
}

.color-pick{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #666;
}

.color-info {
    color: #666;
}

.buy{
    display: flex;
    align-items: end;
    gap: 2px;
    text-decoration: underline;
    margin-top: 160px;
}






