@font-face {
    font-family: 'score';
    src: url(S-Core_Dream_OTF/SCDream4.otf);
}

html {
    font-family: 'score';
}

img {
    width: 100%;
    display: block;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 16px;
    z-index: 2;
}

.header-container {
    background-color: #ffffff;
    border-radius: 30px;
    width: 1760px;
    height: 56px;
    padding: 16px 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
    height: 20px;
}

.menu-container {
    display: flex;
    gap: 30px;
}

.menu {
    font-size: 18px;
    color: #222;
    text-decoration: none;
}

.login-container {
    display: flex;
    gap: 4px;
}

.search-icon {
    width: 30px;
}

.line-box {
    background-color: transparent;
    border: 1px solid #222;
    padding: 6px 16px;
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}